.main-top-header{
    height: 50px;
    background: #1d1d1d;
}
.top-header-content{
    display: flex;
    justify-content: flex-end;
    max-height: 50px;
}
.top-header-menu{
    margin: 0 auto;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
    height: 50px;
    line-height: 50px;
    display: block;
}
a:hover{
    color: wheat;
    cursor: pointer;
}
li{
    margin: 15px;
    max-height: 50px;
}