<div class="clearfix"></div>
<div class="fs-footer">       
    <div class="fs-wrap">
        <div class="fs-ftmain">
            <ul class="fs-ftcol fs-ftmn">
                <li><h2>Dịch vụ &amp; hỗ trợ</h2></li>
                <li><a href="#" title="">Chính sách bảo mật</a></li>
                <li><a href="#" title="">Chính sách đổi sản phẩm</a></li>
                <li><a href="#" title="">Chính sách bảo hành</a></li>
                <li><a href="#" title="">Chính sách giao nhận</a></li>
                <li><a href="#" title="">Câu hỏi thường gặp</a></li>
                <li><a href="#" title="">Hướng dẫn mua hàng</a></li>
            </ul>
            <ul class="fs-ftcol fs-ftmn">
                <li><h2>Dịch vụ &amp; hỗ trợ</h2></li>
                <li>Địa chỉ: 
                    <ul style="margin-left: 10px;list-style: disc;">
                        <li>HCM: 121 Lê Lợi, Phường Bến Nghé, Quận 1, TP.HCM</li>
                        <li>Hà Nội: 92 Hai Bà Trưng, P. Cửa Nam, Q. Hoàn Kiếm, TP. Hà Nội</li>
                        <li>Đà Nẵng: 240 Hoàng Diệu, Q. Hải Châu, TP. Đà Nẵng</li>
                        <li>Cần Thơ: 52 - 54 - 56 Đường 30/4, P. An Phú, Q. Ninh Kiều, Cần Thơ</li>
                    </ul>
                </li>
                <li>HOTLINE: 18006601 Nhánh số 2</li>
                <li>Email: <a class="fs-ftmail" href="mailto:Fptshop@fpt.com.vn" title="">Fptshop@fpt.com.vn</a></li>
            </ul>
            
        </div>
    </div>
</div>