<div class="main-home-banner">
  <div class="banner-content">
    <div class="mainBanner">
        <a href="#">
          <img src="../../../../assets/Banner/637081680334756036_FS1 (1).png">
        </a>
    </div>
  
    <div class="subBanner">
      <a href="#" class="subBanner1">
          <img src="../../../../assets/Banner/bner1.jpg">
          <div class="subBanner1-content">
              <p>Chương trình trải nghiệm <br> Apple miễn phí</p>
              <span>Đăng ký ngay</span>
          </div>
      </a>
      <a href="#" class="subBanner2">
          <img src="../../../../assets/Banner/bner2.jpg">
          <div class="subBanner2-content">
              <h4>KHUYẾN MÃI</h4>
              <p>Cơ hội mua sản phẩm Apple <br> chính hãng giảm giá</p>
              <span>Click vào đây</span>
          </div>
      </a>
      
    </div>
  </div>  
</div>