<div class="iphone-content">
  <div class="top-hd-iphone">
    <div>
      <h1 class="top-tittle">iPhone</h1>
    </div>

    <ul class="category-iphone">
      <li><a class="iphone-xs" title="">iPhone Xs/Xs Max</a></li>
      <li><a class="iphone-xr" title="">iPhone XR</a></li>
      <li><a class="iphone-x" title="">iPhone X</a></li>
      <li><a class="iphone-8" title="">iPhone 8 / 8 Plus</a></li>
      <li><a class="iphone-7" title="">iPhone 7 / 7 Plus</a></li>
      <li><a class="iphone-6s" title="">iPhone 6s / 6s Plus</a></li>
    </ul>
  </div>

  <div class="wrap">
    <div class="list-items" 
          *ngFor="let item of ListRows; 
          let col=index; 
          let odd = odd"
          [ngClass]="{'UpdateColor': odd}">
      <div class="item" 
          *ngFor="let item of LimitListIphone(col); 
                  let even = even; 
                  let odd = odd; 
                  let i = index" 
          [ngClass]="{'EvenItem': even, 'OddItem':odd}">
        
        <div class="content" 
             [ngClass]="{'EvenContent': even, 'OddCotent': odd}">

          <h3 class="ctname">
            <a href="#" title="">{{item.ProductName}}</a>
          </h3>
          <p class="ctmh">{{item.Screen}}</p>
          <p class="ctbtn">
            <a class="fs-apbtn" 
               title="" 
               (click)="onGoToDetailIphone(item)">Xem chi tiết</a>
          </p>
          <p class="ctpri" id="28994">Giá chỉ {{item.Price}}.000 đ</p>
        </div>
        <a href="#" 
          [ngClass]="{OddCotent: odd}">
          <img src={{item.Img}} alt="iPhone 11 Pro 64GB">
        </a>
      </div>

    </div>
  </div>
</div>